html,
body {
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

a {
  color: #90caf9;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* When hovering over a data grid cell, show a pointer instead of a cursor */
.copy-data-grid .MuiDataGrid-cell {
  cursor: pointer;
}

/* Focus */

[data-theme="light"] .unfocussed {
  border: none;
}

[data-theme="light"] .focussed {
  /* border: 2px solid rgb(25, 118, 210); */
  border: none;
}

[data-theme="dark"] .unfocussed {
  border: none;
}

[data-theme="dark"] .focussed {
  border: none;
}