html,
body {
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  color: #333;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* When hovering over a data grid cell, show a pointer instead of a cursor */
.copy-data-grid .MuiDataGrid-cell {
  cursor: pointer;
}

/* Focus */

.unfocussed {
  border: 2px solid lightgray;
}

.focussed {
  border: 2px solid rgb(25, 118, 210);
}

/* Text utility classes */
.text-primary {
  color: #333;
  font-weight: 500;
}

.text-warning {
  color: #333;
}